@import "../../../stylesheets/variables.scss";

.booking {
  &__filters {
  }

  &__filter {
    border: 1px solid $gray-suit;
  }
}

.outward {
  margin-top: 24px;

  &__title {
    color: $bleached-cedar;

    font-size: 20px;
    font-family: Space Grotesk;
    font-weight: 700;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 24px;
  }

  padding-bottom: 20px;
}

.button--absolute {
}
