@import "../../../stylesheets/variables.scss";

.criteria {
  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 24px;
  }
}

.modal {
  &__heading {
    color: $bleached-cedar;
    font-size: 20px;
    font-weight: 700;
    font-family: "Space-Grotesk", sans-serif;
    line-height: 25px;
    padding-right: 32px;
  }
}
