@import "../../stylesheets/variables.scss";

.welcome {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-repeat: no-repeat;
  padding: 0 20px;

  @media screen and (min-width: $mobile-large) {
    background-size: cover;
  }

  &__logo {
    width: 94px;
    height: 103px;
    margin: 0 auto;
  }

  &__heading {
    text-align: center;

    &-bold {
      color: $bleached-cedar;
      margin-top: 42px;

      span:first-child {
        font-family: "Integral CF", sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
      }

      span:last-child {
        display: block;
        font-family: "Integral CF", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 28.8px;
      }
    }

    &-light {
      color: $bleached-cedar;
      font-size: 20px;
      font-family: "Space Grotesk", sans-serif;
      font-weight: 700;
      line-height: 26px;
      margin-top: 31px;
    }
  }

  &__actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    bottom: 40px;
  }

  &__login {
    color: $bleached-cedar;
    font-size: 14px;
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
  }
}
