@import "../../stylesheets/variables.scss";

.welcome {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-repeat: no-repeat;
  padding: 0 20px;

  &__heading {
    &-bold {
      color: $bleached-cedar;
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;

      font-family: "MyFont";
    }

    &-light {
    }
  }

  &__actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 40px;
  }
}
