@import "../../stylesheets/variables.scss";

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;

  &__input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .switch__slider {
      background-color: $bleached-cedar;

      &:before {
        transform: translateX(16px);
      }
    }

    &:focus + .switch__slider {
      box-shadow: 0 0 1px $bleached-cedar;
    }
  }

  &__slider {
    cursor: pointer;
    position: absolute;
    inset: 0;
    background-color: $silver-chalice;
    border-radius: 34px;
    transition: 0.2s all ease-in-out;

    &:before {
      content: "";
      position: absolute;
      left: 4px;
      bottom: 2px;
      width: 24px;
      height: 24px;
      background-color: $white;
      border-radius: 50%;
      transition: 0.2s all ease-in-out;
    }
  }
}
