$gray-suit: #d6d3d8;
$bleached-cedar: #30213b;
$mobster: #837a89;
$tango: #ed6c16;
$white: #ffffff;
$silver-chalice: #a7a7a7;
$mischka: #eae9eb;
$scarpa-flow: #594d62;
$christi: #23b60b;

$mobile-small: 320px;
$mobile-medium: 375px;
$mobile-large: 425px;
$tablet: 768px;
