@import "../../stylesheets/variables.scss";

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  &__back {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px solid $gray-suit;
    border-radius: 5px;
  }

  &__logo {
    width: 43.81px;
    height: 48px;
  }
}

.login {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__form {
    margin-top: 30px;
  }

  &__label {
    color: $bleached-cedar;
    font-size: 12px;
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
    line-height: 15px;

    &--light {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &:nth-child(2) {
      margin-top: 20px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 20px;
  }
}
