@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./stylesheets/variables.scss";

@font-face {
  font-family: "Integral CF";
  src: url("/fonts/IntegralCF-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Integral CF";
  src: url("/fonts/IntegralCF-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Integral CF";
  src: url("/fonts/IntegralCF-DemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Integral CF";
  src: url("/fonts/IntegralCF-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Integral CF";
  src: url("/fonts/IntegralCF-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 20px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  &--single {
    padding: 54px 0;
  }

  &__back {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px solid $gray-suit;
    border-radius: 5px;
  }

  &__logo {
    width: 43.81px;
    height: 48px;
  }
}
