@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./stylesheets/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "Integral CF";
  src: url("/fonts/IntegralCF-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Integral CF";
  src: url("/fonts/IntegralCF-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Integral CF";
  src: url("/fonts/IntegralCF-DemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Integral CF";
  src: url("/fonts/IntegralCF-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Integral CF";
  src: url("/fonts/IntegralCF-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 20px;
}

.wrapper-single {
  padding: 0 20px;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 30px 0;

  &--single {
    padding: 54px 0;
  }

  &--sized {
    display: flex;
    align-items: start;
    background-size: cover;
    min-height: 230px;
    padding: 0 20px;
    z-index: 2;
    position: relative;
  }

  &--account {
    justify-content: flex-end;
  }

  &__back {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 48px;
    height: 48px;
    border: 1px solid $gray-suit;
    border-radius: 5px;

    &--single {
      left: 20px;
      top: 40px;
      background-color: $white;
    }
  }

  &__logo {
    width: 43.81px;
    height: 48px;
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 8px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border: 1px solid $gray-suit;
      border-radius: 5px;
    }
  }

  &__delete {
    button {
      width: 181px;
      height: 48px;
      background-color: transparent;
      border: 1px solid $tango;
      color: $tango;
      border-radius: 34px;
      font-family: "Space Grotesk", sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;

      &:hover,
      &:focus {
        color: $white;
        background-color: $tango;
      }
    }
  }
}

.card-button {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 22px;
  width: 100%;
  min-height: 190px;
  border: 1px solid $gray-suit;
  border-radius: 5px;
  box-shadow: inset -2px -2px 12px rgba(137, 125, 125, 0.1);
  padding: 5px 20px;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;

  &--active {
    background-color: $tango;

    .card-button__label {
      color: white;
    }
  }

  &__emoji {
    font-size: 48px;
  }

  &__label {
    color: $bleached-cedar;
    font-weight: 700;
    font-size: 26px;
    font-family: "Space Grotesk", sans-serif;
    line-height: 28px;

    word-wrap: break-word;
    word-break: break-word;
  }
}

.small {
  color: $mobster;
  font-size: 12px;
  font-family: "Space Grotesk", sans-serif;
  line-height: 15px;
  margin-top: 12px;
}
